body{
    width: 1000px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 8px;
    background-color: turquoise;


    display: flex;
    justify-content: center;
    align-items: center;

}

.square:hover{
    cursor: pointer;
    background-color: greenyellow; 
    transform: scale(1.2);
    width: 500px;
}

.square.has-transition{
    transition-property: background-color, transform;
    
    transition-property: width;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

/* ANIMATION */


.pulser-bit{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rebeccapurple;
    position: relative;
}

.pulser-bit::after{
    /* animation: pulser 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite; */
    animation-name: pulser;
    animation-duration: 1000ms; 
    animation-timing-function: cubic-bezier(0.9, 0.7, 0.5, 0.9) ;
    animation-iteration-count: infinite;
}

.pulser-bit::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: violet;
    z-index: -2;
}

.slider-box{
    margin-top: 20px;
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    animation: slider 1000ms steps(10, end) infinite;
}

.rotate-box{
    width: 50px;
    height: 50px;
    /* background-color: royalblue; */
    border-right: solid 5px royalblue;
    border-bottom: solid 5px #eee;
    border-left: solid 5px #eee;
    border-top: solid 5px #eee;
    border-radius: 50%;

    animation: revolver 1s ease-out infinite;

}


@keyframes pulser {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
        transform: scale(1.4);
    }
    
}

@keyframes slider {
    0%{
        transform: translateX(0);
        opacity: 0;
    }

    100%{
        transform: translateX(200px);
        opacity: 1;
    }
}

@keyframes revolver {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}