html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

article{
    border: solid 2px red;
    padding: 10px;
}

article p{
    font-weight: bold;
}

/* article p:first-of-type{
    color: green;
    font-size: 2rem;
} */
p:nth-child(even){
    color: #333;
}
p:nth-child(odd){
    color: #111;
}

p::selection {
    background: black;
    color: white;
  }

p, input{
    text-decoration: underline 2px #ddd;
}

[type='button']{
    border: none;
    padding: 1rem 3rem;
    margin: 1rem;
    display: inline-block;
    font-size: 2rem;
    background: #eee;
    font-style: bold;
    border-radius: 3px;
    cursor: pointer;
}

[type='button']:hover{
    color: red;
    background-color: aqua;
}

.my-body{
    width: 30rem;
    height: 20rem;
    background-color: #aaa;
    position: relative;
    /* z-index: 1000; */
}

.my-body::after{
    content: 'AFTER';
    position: absolute;
    left: 10rem;
    width: 30rem;
    height: 10rem;
    background-color: #eee;
    z-index: 1000;

}

.my-body::before{
    content: 'BEFORE';
    position: absolute;
    left: 3rem;
    width: 30rem;
    height: 10rem;
    background-color: #ccc;
    z-index: 900;

}